.stateData-table__wrapper{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.stateData-table__th{
    text-align: left;
    padding: 2px 10px;
}
.stateData-table__td{
    text-align: left;
    padding: 2px 10px;
}