.state-map svg{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    resize: both;
    margin: 0 auto;
}
/* .state-map svg{
    max-width: 100%;
} */

/* .state-map path{
    fill: #c4c0bc;
} */

.state-map path.selected{
    fill: #1ca2ab;
}

.hoverMsg{
    position: absolute;
    pointer-events: none;
    display: none;
    background-color: black;
    border: 2px solid white;
    color: white;
    margin: 10px;
    padding: 5px;
}
.hoverMsg.hide{
    display: none;
}

@media screen and (min-width: 700px)  {
    .hoverMsg{
        display: block;
    }
}